/*
section article{
    background: red;
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;
}
*/
section{
    display: flex;
    justify-content:space-around;
 }
section article{
    background: red;
    height: 200px;
    width: 200px;
}
